{% include base_path %}
{% assign year = post.date | date: "%Y" %}

<li class="pub-item">
  <span class="pub-year">{{ year }}</span>
  <span class="pub-body">
    {% if post.pubtype and post.pubid %}
      <span class="pub-tag">[{{ post.pubtype }}{{ post.pubid }}]</span>
    {% endif %}
    <span class="pub-title-text">{{ post.title }}</span>
    {% if post.paperurl %}
      <a class="pub-pdf" href="{{ post.paperurl }}" aria-label="PDF"><i class="fa fa-file-pdf-o"></i></a>
    {% endif %}
    <br/>
    {% if post.authors %}<span class="pub-authors">{{ post.authors }}</span>. {% endif %}
    {% if post.venue %}<span class="pub-venue">{{ post.venue }}</span>{% endif %}
  </span>
</li>
